<!DOCTYPE html>
<%/* join-freecivweb.jsp */%>
<html lang="en">
<head>
  <%- include('parts/fragments/head') %>

<style>
img {
  max-width: 100%;
}
</style>
</head>
	<div class="container">
    <%- include('parts/fragments/header') %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
		    <h1>Play FreeCiv in your browser</h1>
		    <h2 style="border-bottom: 0;">About FreeCiv and FreeCiv Web.</h2>
        <p>FreeCiv is a  turn-based strategy game inspired by the proprietary Sid Meier's Civilization series. Freeciv is free and open-source software. Players take the role of tribal leaders in 4000 B.C. who must guide their peoples through the centuries. Freeciv-web is a version of Freeciv playable online in any modern web browser. It supports 2D isometric graphics or 3D graphics using WebGL.</p>

		    <h2 style="border-bottom: 0;">Where can I play FreeCiv Web?</h2>
        <p>There are multiple websites, with two primary being <a href="https://freecivweb.com" target="_blank" rel="nofollow">freecivweb.com</a> (2D with Longturn focus) and <a href="https://freecivworld.net" target="_blank" rel="nofollow">freecivworld.net</a> (3D single and multi-player). You also can play on this very website in experimental 100% in browser experience.</p>

		    <h2 style="border-bottom: 0;">About WebCiv.org Project</h2>
        <p>WebCiv.org goal is to democratise FreeCiv Web development so that everyone can easily run and modify it. No need for expensive servers, complex configuration via TomCat and Nginx. WebCiv.org served statically, easy to modify and has minimal maintenance costs.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>FreeCiv 2D</h2>
        <p>Classical 2D game experience</p>
		    <img src="/images/freecivweb-small.jpg" alt="Example of FreeCiv game">
        <br><br>
        <a class="btn btn-lg btn-success" href="/webclient/?action=new&type=singleplayer&wasm=true">Play</a>
      </div>

      <div class="col-md-4">
        <h2>FreeCiv 2D: Space</h2>
        <p>Custom 2D space themed tileset</p>
		    <img src="/images/freeciv-space.png" alt="Example of FreeCiv: Space game">
        <br><br>
        <a class="btn btn-lg btn-success" href="/webclient/?action=new&type=singleplayer&tileset=space&wasm=true">Play</a>
      </div>

      <div class="col-md-4">
        <h2>FreeCiv 3D</h2>
        <p>Modern 3D game experience</p>
        <img src="/images/freeciv-3d.jpg" alt="Example of FreeCiv 3D game">
        <br><br>
        <a class="btn btn-lg btn-warning" href="#">Coming soon...</a>
      </div>
    </div>

    <%- include('parts/fragments/footer', props) %>
	</div>
</body>
</html>
