<!DOCTYPE html>
<%/* join-freecivweb.jsp */%>
<html lang="en">
<head>
  <%- include('parts/fragments/head') %>

<style>
img {
  max-width: 100%;
}

.accounting {
 margin-bottom:20px;
}
.accounting th, .accounting td {
 padding:8px;
 vertical-align:bottom;
 border-bottom:1px solid #be602d;
 line-height:1.4em;
}
.accounting>tbody {
 border-top:2px solid #be602d
}
.accounting tr>td:last-child {
 text-align: right;
}

</style>
</head>
	<div class="container">
    <%- include('parts/fragments/header') %>
		<h2>Play FreeCiv Online on WebCiv.org</h2>
		<h3 style="border-bottom: 0;">Freeciv is a Free and Open Source empire-building strategy game inspired by the history of human civilization.</h3>
    <p>Take the role of tribal leaders in 4000 B.C. who must guide their peoples through the centuries. Over time, new technologies are discovered, which allow the construction of new city buildings and the deployment of new units. Players can wage war on one another or form diplomatic relationships.</p>

    <p>The game ends when one civilization has eradicated all others or accomplished the goal of space colonization, or at a given deadline. If more than one civilization remains at the deadline, the player with the highest score wins. Points are awarded for the size of a civilization, its wealth, and cultural and scientific advances.</p>
    <br>
    <center>
		  <h3 style="border-bottom: 0;">Single Player Games</h3>
      <a class="btn btn-lg btn-success" href="/webclient/?action=new&type=singleplayer">Start FreeCiv: Standard</a>
      <a class="btn btn-lg btn-success" href="/webclient/?action=new&type=singleplayer&tileset=space">Start FreeCiv: Space</a>
    </center>
    <br>
    <center>
		  <img src="/images/freecivweb.jpg" alt="Example of FreeCiv game">
    </center>

    <%- include('parts/fragments/footer', props) %>
	</div>
</body>
</html>
